{% extends 'nodebase.html' %}
{% block nav_block %}
<ul class="nav navbar-nav">
    <li class=""><a href="{% url 'get_node' 'topics' %}">社区</a></li><li class=""><a href="{% url 'get_node' 'bugs' %}">Bug 曝光台</a></li><li class=""><a href="{% url 'get_node' 'questions' %}">问答</a></li><li class=""><a href="{% url 'get_college' %}">社团</a></li><li class="active"><a href="{% url 'get_node' 'applications' %}">招聘</a></li><li class="">
  </ul>
{% endblock %}

{% block title_block %}
  <div class="sub-navbar node-header hide-ios">
    <div class="container">
        <div class="title">
          招聘
          <span class="total">共有 {{ total }} 个讨论主题</span>
        </div>
        <div class="summary" id="node-summary">
          <p><strong>招聘栏目规则</strong>：<a href="https://testerhome.com/topics/6421" target="_blank">《敬告各位发招聘的公司注意！》</a>请仔细阅读!</p>

<hr>

<p>如果没有发帖权限，请邮件联系 job@testerhome.com 并注明主题：请开通发布招聘帖权限</p>
        </div>

    </div>
  </div>
{% endblock %}

{% block list_block %}
      <div class="panel-body item-list">
        {% for applications in applicationss %}
            <div class="topic media topic-24751">
              <div class="avatar media-left">
                <a title="{{ applications.uid }} ({{ applications.uname }})" href="{% url 'userinfo' applications.uid %}"><img class="media-object avatar-48" src="{{ MEDIA_URL }}{{ applications.portrait }}"></a>
              </div>
              <div class="infos media-body">
                <div class="title media-heading">
                  <a title="{{ applications.title }}" href="{% url 'community' applications.id %}">
                    <span class="node">{{ applications.flag }}</span>
                    {{ applications.title }}
            </a>
                </div>
                <div class="info">
                    <a class="user-name" data-name="{{ applications.uname }}" title="{{ applications.uname }}({{ applications.uid }})" href="{% url 'userinfo' applications.uid %}">{{ applications.uname }}</a>
                    {% if applications.recovery_username %}
                      <span class="hidden-mobile">
                      •
                        最后由 <a class="user-name" data-name="{{ applications.recovery_username }}" title="{{ applications.recovery_username }}({{ applications.recovery_uid }})" href="{% url 'userinfo' applications.recovery_uid %}">{{ applications.recovery_username }}</a> 回复于 <abbr class="timeago"  rel="twipsy">{{ applications.recovery_time }}</abbr>
                      </span>
                    {% else %}
                      <span class="hidden-mobile">
                      •
                        发布于 <abbr class="timeago"  rel="twipsy">{{ applications.release_time }}</abbr>
                      </span>
                    {% endif %}
                </div>
              </div>
                {% if applications.comments %}
                  <div class="count media-right">
                      <a class="state-false" href="{% url 'community' applications.id %}">{{ applications.comments|length }}</a>
                  </div>
                {% endif %}
            </div>
        {% endfor %}
      </div>
{% endblock %}
